.text-variation1 {
    font-weight: semibold;
    font-size: 16px;
    line-height: 20px;
}
.text-variation2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
.text-variation3 {
    font-weight: semibold;
    font-size: 20px;
    line-height: 24px;
}
.text-variation4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.text-variation5 {
    font-weight: regular;
    font-size: 14px;
    line-height: 20px;
}
.text-variation6 {
    font-weight: medium;
    font-size: 18px;
    line-height: 24px;
}
.text-variation7 {
    font-weight: regular;
    font-size: 20px;
    line-height: 32px;
}
.text-variation8 {
    font-weight: extrabold;
    font-size: 40px;
    line-height: 56px;
}
.text-variation9 {
    font-weight: medium;
    font-size: 20px;
    line-height: 24px;   
}
.text-variation10 {
    font-weight: regular;
    font-size: 18px;
    line-height: 24px;
}
.text-variation11 {
    font-weight: regular;
    font-size: 14px;
    line-height: 20px;   
}